<%- include("partials/header") -%>

<h1>Home</h1>

<p><%= introHome %></p>
<!-- <%= content %> -->

<!-- <% for(let i=0;i<content.length;i++){ %>
<%    console.log(content[i].title); %>
<% }; %> -->

<% content.forEach(function(post){%>
    <h1><%= post.title %> </h1>
    <p>
        <%= post.content.substring(0,100)+"...." %>
        <a href="/posts/<%= post._id %>">Read More</a>
    </p>
<% }); %>

<%- include("partials/footer") -%>